@use "../../presets" as *;
@use "../../mixins" as *;

.section-about {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: $color-gray-light;

    @include lg-min {
        padding-left: 310px;
        padding-right: 310px;
        padding-top: 65px;
        padding-bottom: 65px;
    }
    @include lg-md {
        padding-left: 20px;
        padding-right: 35px;
        padding-top: 90px;
        padding-bottom: 65px;
    }
    @include md-sm{
        padding-left: 20px;
    }
    @include sm {
        flex-direction: column;
        padding-left: 20px;
        padding-top: 45px;
        padding-bottom: 65px;
    }

    &__img {
        position: relative;
        @include lg-min {
        padding-left: 45px;
        margin-top: $margin-top;
        }
        @include lg-md {
            padding-left: 55px;
        }
        @include md-sm {
            padding-left: 55px;
            padding-right: 20px;
            padding-bottom: 50px;
            padding-top: 50px;
        }
        @include sm {
            display: block;
            text-align: center;
            padding-top: 50px; 
        }
     }

    &__line {
        width: 0;
        height: 200px;
        border: 1px solid rgba(112, 112, 112, 0.27);
        @include sm {
            display: none;
        }
    }
    &__descr-main {
        margin-top: 20px;
        margin-bottom: 60px;
        @include lg-sm {
            margin-bottom: 45px;
            }
            @include sm {
                margin-top: 20px;
            }
    }
}

h2 {
    color: $color-primary;
        font-family: $font-header;
        margin: 0;

        @include lg-min {
        font-size: 2.5rem;
        letter-spacing: 4px;
        width: 400px;
        }

        @include lg-md {
            font-size: 2rem;
            letter-spacing: 3px;
            width: 400px;
            }
         @include md-sm {
                font-size: 1.5rem;
            letter-spacing: 2px;
            width: 250px;
            }
        @include sm {
                font-size: 1.5rem;
            letter-spacing: 2px;
            text-align: center;
            }
}

p {
color: #637588;
font-family: $font-main;
letter-spacing: 1px;
font-size: 1.125rem;
padding-right: 45px;
margin: 0;
line-height: 24px;
@include md-sm {
    font-size: 1rem;
    padding-right: 25px;
}

}
.md-hidden-text {
    @include lg-sm {
        display: none;
    }
    @include sm {
        display: none;
    }
}
.sm-hidden-text {
    @include md-sm {
        display: none; 
    }
}
