@use "../../presets" as *;
@use "../../mixins" as *;

.posts {
  padding-left: 20px;
  padding-right: 20px;
@include lg-min {
  padding-left: 16.145vw;
  padding-right: 16.145vw;
}
&-article {
  min-height: 300px;
  text-align: center;
  background-color:  #eee;
  &__image {
    height: 300px;
    background-color: $color-light;
    background-position: center;
    background-size: cover;
  }
  &__title {
    margin: 0, 37px, 15px;
    font-family: $font-header;
    font-size: 1.125rem;
    font-weight: bolder;
    letter-spacing: 1px;
    text-align: center;
    color: $color-gray;
  }
  &__description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 250px;
    padding: 5.67%;
    @include lg-md {
      padding: 25px;
    }
  }
  &__text {
    font-size: $font-size;
    letter-spacing: 0px;
    color: $color-gray;
    }
}
&__maintitle {
  font-family: $font-main;
  font-weight: bold;
  color: $color-primary;
  @include lg-min {
    margin: 99px 0 54px;
    font-size: 2.5rem;
    letter-spacing: 4px;
  }
  @include lg-md {
    margin: 80px 0 60px;
    font-size: 2rem;
    letter-spacing: 3px;
  }
  @include md-sm {
    margin: 55px 0 40px;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
  @include sm {
    margin: 55px 0 45px;
    font-size: 1.5rem;
    letter-spacing: 2px;
  }
}
&-container {
  display: grid;
  gap: $gap;
  margin-bottom: $gap;
  @include lg-min {
    grid-template-areas: "b1 b1 b2 b3" "b4 b5 b6 b6";
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  @include lg-md {
    grid-template-areas: "b1 b1 b2" "b3 b4 b4" " b5 b5 b6";
    grid-template-columns: 1fr 1fr 1fr;
  }
  @include md-sm {
    grid-template-areas: "b1 b2" "b3 b4" "b5 b6";
    grid-template-columns: 1fr 1fr;
  }
  @include sm {
    grid-template-areas: "b1" "b2" "b3" "b4" "b5" "b6";
  }
}
&-button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 60px;
}
}

@for $i from 1 through 6 {
    .posts-article:nth-of-type(#{$i}) {
      grid-area: b#{$i};
    }
}






