@use "../../presets" as *;
@use "../../mixins" as *;

.form {
    display: flex;
    justify-content: center;
    background-color: $color-primary;
    width: 100%;
    font-size: 1.125rem;
    @include lg-min {
        padding: 30px;
        padding-left: 16.145%;
        padding-right: 16.145%;
    }
    @include lg-md {
        padding: $gap; 
    }
    @include md-sm {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: $gap; 
    }
    @include sm {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: $gap;
    }
    &__main {
        width: 66.6%;
        display: flex;
        @include md-sm {
            width: 100%;
            display: flex;
            flex-direction: column;
        }
        @include sm {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    &__item {
        font-family: $font-main;
        height: $gap-x3;
        border-style: none;
        border-bottom: 2px solid $color-light;
        letter-spacing: 2px;
        background-color: rgba(255, 255, 255, 0.05);
        transition: 0.5s;
        @include lg-min {
            width: calc(66.6% - 70px);
            margin-right: $gap;
            padding-left: 35px;
        }
        @include lg-md {
            width: calc(66.6% - 70px);
            margin-right: $gap;
            padding-left: 35px;
        }
    
        @include md-sm {
            padding-left: $gap;
        }
        @include sm {
            width: 100%;
            margin-bottom: $gap;
            padding-left: $gap;
        }
        
    }
    &__item:hover, &__item:focus {
        background-color: rgba(255, 255, 255, 0.1);
        &[placeholder]::-webkit-input-placeholder {
        color: $color-light;
        }
    }

    &__button {
        width: 33.33%;
        padding: $gap;
        margin-right: 0;
        text-align: center;
        border: 2px solid rgba($color: #00000000, $alpha: 0);
        border-bottom: 2px solid $color-light;
        height: $gap-x3;
        background-color: rgba(255, 255, 255, 0.1);
        transition: 0.5s;
        @include md-sm {
        position: absolute;
        margin-right: calc(100% - 151.4vw);
        width: 43%;
        padding: $gap;
        }
        @include sm {
            width: 100%;
        }
        &:hover, &:focus {
            background-color: $color-accent;
            border: 2px solid $color-light;
        }
    }
    
}

.form__item--name {
    @include md-sm {
        width: 100%;
        margin-bottom: $gap;
    }
}
.form__item--email {
    @include md-sm {
        width: 51%;
        margin-right: $gap;
    }
}



